h1 {
    font-family: 'Libre Baskerville', sans-serif;   
    font-size: 72pt;
    color: goldenrod;
    text-align: center;
}
h2{ 
    font-family: 'Libre Baskerville', sans-serif;   
    text-align: center;

}
p{  
    text-align: center;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 24px;
    color: black;
    margin: auto;

    padding-right: 15%;
    padding-left: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
}
html{
    background-color: beige;
    align-content: center;
    align-items: center;
    align-self: center;
    margin-inline: 50px;
    
}
body{
    margin: auto;
    margin: 0;
}
hr{ 
    color: dimgray;
    margin-top: 3%;
    margin-bottom: 5%;
}
img.a {
    vertical-align: baseline;
    
}
div.test{   
    vertical-align: super;
}
table { 
    margin: 0px; 
    border: 0px;
}
.red {
    background-color: red;
    margin: auto;

}
td.yellow {
    background-color: gold;
    margin: auto;

}
td.middle {
    background-color: black;
    margin: auto;

}

#egg {
    text-align: center;
    color: magenta;
    background-color: black;
    padding: 10px 0px;
    border-radius: 0 0 1000px 1000px;
    box-shadow: 500px 50px 1000px #aaa;

}
#header {
    height: 100px;
    background: #933;
    margin: auto;

}
.section {  
    background: #99c;
    margin: auto;
}
.section, #header, #footer, nav {
    width: 300px;
}
#footer {
    height: 100px;
    background: #393;
    margin: auto;

}
table {
    margin: auto;
}
nav, .section {
    height: 150px;
    margin: 10px;
    font-family: 'Raleway', Helvetica, sans-serif;
    margin: 10px, auto;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    float: left;
    margin: 0px;
}