body{
    margin: 0%;
    font-family: Helvetica, Arial, sans-serif
}
h1,h2,h3{
    margin: 0%;
    padding: 20px;
    text-align: center;
    background-color: azure ;
    font-family: Helvetica, Arial, sans-serif
}
h2{
    padding: 10px;
    background-color: slategray;
    margin-left: 100px;
    margin-right: 100px;
}
h3{
    background-color: white;
}
p{
    padding: 5px;
    padding-bottom: 20px;
    text-align: center;
}
.container{

}
