body{
    background:  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" height="100px" width="100px"><g><rect x="7.3" y="7.3" transform="matrix(0.7071 0.7071 -0.7071 0.7071 25 -10.3553)" class="st0" width="35.4" height="35.4"/></g></svg>')       repeat;
    background-color: silver;
}
header{
    font-family: 'Bebas Neue', sans-serif;
    background-color: black;
    color: white;
    height: auto;
    width: 100%;
    font-size: 24px;
}
footer{
    position: absolute;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    bottom: 5px;
    left: 50%;
    margin-left: -100px;
}
nav{
    text-align: center;
    padding: 15px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: maroon;
    width: auto;
    box-shadow: 0px -15px 5px maroon;
}
#homebar{
    margin-top: 20%;
}
#bar{
    background-color: black;
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    font-size: 36px;
    box-shadow: 0px 15px 5px black;
}
.container{
    background-color: white;
    padding: 0px;
    height: auto;
    width: 75%;
    margin: 20px auto auto auto;
    border-style: solid;    
    
}
h1{
    padding: 10px;
    font-size: 72pt;
    text-align: center;
}
h2{
    font-family: 'Bebas Neue', sans-serif;
    padding: 5px;
    font-size: 36pt;
    text-align: center;
}
h3{
    font-family: 'Bebas Neue', sans-serif;
    padding: 5px;
    font-size: 64pt !important;
}
p{
    font-family: 'Roboto', sans-serif;
    padding: 0px 15px 15px 15px;
    letter-spacing: .5px;
    line-height: 20px;
}
a{
    color: white;
    padding: 6px;
    text-decoration: none;
    text-shadow: 5px 5px 4px black;
    margin: 5px;
}

nav a:link {
    color: white;
}
nav a:hover {
  color: red;
  background-color: black;
  border-radius: 10px;
}
nav a:active {
   color: maroon;
   background-color: black;
}
#leftmenu a:link {
    color: white;
}
#leftmenu a:visited {
    color: silver;
}
#leftmenu a:hover {
  color: gray;
}
#leftmenu a:active {
  color: black;
}

#leftmenu{
    position: fixed;
    width: 11.5%;
    background-color: black;
    height: 100%;
    padding-top: 20px;
    padding-left: 10px;
}
#ghost{
    position: relative;
    height: 100%;
    width: 230px;
}
#leftmenu a{
    color: white;
    background-color: unset;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    overflow: hidden;
    line-height: 30px;
    top: 50%;
}
.fix-nav{
    position: fixed;
    top: 10px;
}
.content{
    background-color: white;
    position: absolute;
    left: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
#portfolio header{
    font-family: 'Bebas Neue', sans-serif !important;
}
h4{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 12pt;
}
h4{
    color: black;
}
h4 a:link {
    color: white;
}
h4 a:visited {
    color: silver;
}
h4 a:hover {
    color: white;
}
h4 a:active {
    color: black;
}
